body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;;
}

/**Header**/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/logo2.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
  background-size: 150px 150px;
}